* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #f7ecde;
}

/* :root {
    
} */

header {
    background-image: url(../images/banner-image.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;
}

.header-contant{
    background-color: rgba(250, 235, 215 ,0.5);
    width: 50%;
    margin: 250px auto;
    text-align: center;
    padding: 25px;
}

.header-contant h1 {
    font-family: "Bree Serif", serif;
    font-size: 50px;
    
    margin: 15px;
}

.header-contant p{
    font-size: 25px;
    margin: 10px;
    

}

.header-contant a{
    text-decoration: none;
    color: rgb(226, 215, 215);
    font-size: 25px;
    

}

.header-contant button {
    background-color: #70574e;
    padding: 10px;
    border: none;
    border-radius: 10px;
    
}

nav {
    background-color: #70574e;
}

nav div  {
    
    width: 35%;
    margin:0px auto;
    padding: 20px;

}
nav a{
    text-decoration: none;
    color: rgb(222, 214, 214);
    padding: 20px;
    font-size: 20px;

}

 h2 {
    font-size: 35px;
    font-family: "Bree Serif", serif;
    margin: 30px ;
    
}
.about{
    
    width: 60%;
    text-align: center;
    margin:30px auto;
}


.menu{
    
    width: 85%;
    margin: 50px auto;
    text-align: center;
}
.card {
    width: 20%;
   
    border-radius: 10px  ;
    text-align: center;
    display: inline-block;
   
    margin-left: 50px;
}

.card img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    display: block;
    
}

.card h3{
    font-size: 30px;
    background-color: green;
    color: aliceblue;
    padding: 15px;
    
}

.card ul {

  background-color: gray;
    font-size: 20px;
   list-style: none;

}

.card li {
    padding: 10px;
}


/* ------------------------------------------------ */


.order{
     background-color: rgba(80, 72, 72, 0.8);
     width: 85%;
     margin-left: 60px;
     margin-top: 20px;
     border-radius: 5px;
     color: white;

    margin: 30px auto;

}

.Register form{
    
    padding: 30px;
   
}


.Register form input , select {
    border-radius:5px ;
    height: 30px;
    width: 95%;
    border: none;
    margin-top: 4px;
    padding: 10px;
   

}

textarea{

    border-radius:5px ;
    height: 80px;
    width: 100%;
    border: none;
    margin-top: 4px;
    padding: 10px;

}
form div {
    margin-top: 8px;
    display: inline-block;
   
    width: 45%;
    margin-left: 20px ;
}

.notes {

     margin-top: 8px;
    display: inline-block;
   
    width: 90%;
    margin-left: 20px ;

}

form label {
    font-size: 20px;
}

form button {
    display:block;
    margin: 20px auto;
    height: 30px;
    font-size: 20px;
    padding: 15px;
    padding-bottom: 35px;
    border-radius: 10px;
    border: none;

    background-color: #70574e;




}

form button a{
    text-decoration: none;
    color: aliceblue;

}

/* ---------- */
footer{
     background-color: rgba(80, 72, 72, 0.9);
    text-align: center;
}


.footer-icon {
    text-decoration: none;
   width: 25%;
  
   padding: 15px;

   margin: 20px auto;

}

.footer-icon a{
    text-decoration: none;
    margin: 8px;
}
footer p{
    color: #ffffff;

}
.a-text{
    color: wheat;
    text-decoration: none;
    padding: 0px;
    font-size: 20px;
   
}

.p-footer{
    display: inline;
    font-size: 20px;
    
}

.t {
    padding-bottom: 60px;
}

.a-text:hover ,nav a:hover {
    text-decoration: underline;
}
  

button:hover{
    background-color: #e3d6d4;
    

}

button:hover a {
    color: black;
}







